{% extends "base.html" %}
{% block title %} Tracks {% endblock title %}
{% block content %}
{% if tracks %}
<table class="table table-striped table-hover table-condensed">
<caption>Tracks</caption>
	<tbody>
	<thead>
		<td></td>
		<td>Track</td>
		<td>Artist</td>
		<td>Playcount</td>
		<td>iTunes</td>
	</thead>
    {% for tr in tracks %}
	<tr>
		{% if tr.mstl_track.get %}
			<td><img src={{ tr.mstl_track.get.get_itunes_detail.artwork_URL_60 }} class="img-polaroid"></td>
		{% else %}
			<td><img src="http://www.pwadio.com/img/question.png" class="img-polaroid"></td>
		{% endif %}
		<td><a href="{% url trackdetail tr.id %}" > {{ tr.name }} </a> </td>
		<td><a href="{% url artistdetail tr.artist.id %}" > {{tr.artist.name }} </a></td>	
		<td>{{ tr.rp_track.count }}</td>
		<td>iTunes</td>
    </tr>	
    {% endfor %}
	</tbody>
</table>
{% else %}
    <p>No tracks are available.</p>
{% endif %}
{% endblock content %}
